<% unless @articles.empty? %>
<div id="article">
  
  <h1 class="title"><%= link_to @articles.first.title, "/articles/#{@articles.first.to_param}" %></h1>
  <h2 class="created_at"><%= time_ago_in_words(@articles.first.created_at) %> ago</h2>

  <div class="body">
    <%= @articles.first.body_html %>
  </div>
  
</div>
<% else %>
  <h2>There are no articles</h2>
<% end %>