<div id="article">
  
  <h1 class="title"><%= link_to @article.title, "/articles/#{@article.to_param}" %></h1>
  <h2 class="created_at"><%= time_ago_in_words(@article.created_at) %> ago</h2>

  <div class="body">
    <%= @article.body_html %>
  </div>
  
  
</div>