
/*-----------------------------------
  Flash
-----------------------------------*/

  #flash{
  background:#FFD;
  border-top:1px solid #FE6;
  border-bottom:1px solid #FE6;
  padding:5px 10px;
  color:#222;
  margin-bottom:10px;
  }
  #flash p{
  padding:0;
  margin:6px;
  font-weight:bold;
  font-style:italic;
  text-align:center;
  }

/*-----------------------------------
  Admin panels
-----------------------------------*/

  #dashboard{
  position:absolute;
  top:3px;
  right:3px;
  padding:6px;
  background:#800;
  border:orange;
  }
  #dashboard a{
  color:#fff;
  }
  .admin.panel{
  background:#f6f6f6;
  border:1px solid #eee;
  padding:5px;
  font-weight:300;
  }

/*-----------------------------------
  Admin - Comments
-----------------------------------*/

  #comments_list{
  margin-top:20px;
  }
  #comments_list table{
  width:100%;
  }
  #comments_list th{
  text-align:left;
  }
  #comments_list td{
  width:10%;
  }
  #comments_list td.body{
  width:50%;
  }
  
/*-----------------------------------
  Admin - Sidebar (needs cleanup)
-----------------------------------*/
  
  #sbar h2{
  border-bottom:1px dotted #ccc;
  margin-bottom:5px;
  color:#aaa;
  position:relative;
  }
  #sbar h2 a{
  color:#000;
  text-decoration:none;
  }
  #sbar ul{
  list-style-type:none;
  padding:0;
  margin:0;
  }
  #article_list li{
  padding:0;
  margin:0;
  }
  li h3 a.title{
  font-family:Arial, sans-serif;
  font-size:14px;
  color:#333;
  text-decoration:none;
  margin:0;
  }
  #asset_list li{
  float:left;
  padding-right:4px; 
  }
  a.btn{
  clear:both;
  text-decoration:none;
  color:#2244FF;
  position:absolute;
  right:0;
  }
  .btns{
  font-size:10px;
  }
  .btns a{
  text-decoration:none;
  }
  .draft{
  color:#c00;
  font-weight:bold;
  font-size:11px;
  }
  .listing{
  clear:both;
  overflow:auto;
  }

/*-----------------------------------
  Admin - Asset Uploader (needs cleanup)
-----------------------------------*/ 
  
  #asset_form{
  padding:15px 30px 30px 30px;
  background:#eee;
  }
  #images ul{
  list-style-type:none;
  padding:0;
  margin:0;
  }
  #images li{
  float:left;
  margin:5px;
  padding:0;
  }
  #images a img{
  border:1px solid #aaa;
  padding:4px;
  display:block;
  }
  #images a img:hover{
  border-color:#24F;
  }
  li.asset{
  position:relative;
  }
  .asset_panel{
  position:absolute;
  bottom:5px;
  right:5px;
  background:#fff;
  font-size:10px;
  padding-top:3px;
  padding-left:5px;
  }
  .asset_panel a{
  text-decoration:none;
  }
  a.del{
  color:#E24;
  }