
/*-------------------------------------
  STANDARD PAGE FORMS
  -------------------------------------*/

  input[type='text'], input[type='password'], 
  input[type='checkbox'], select, textarea {
  --xbackground: #fff url(/images/inputbg.gif) -1px -1px no-repeat;
  --xborder: 1px solid #ddd;
  --xborder-top: 1px solid #aaa;
  --xborder-left: 1px solid #aaa;
  border-width:1px;
  font-family:Verdana, "Lucida Grande", Lucida, Helvetica, sans-serif;
  font-size: 1.8em;
  padding: 2px;
  }
  input[type='text']:focus, input[type='password']:focus, textarea:focus {
  --xbackground: #ffd;
  color: #000;
  }
  textarea{
  width:100%;
  height:400px;
  font-size:1.2em;
  padding:1px;
  }
  input[type='text']{
  width:400px;
  }
  textarea.short{
  height:120px;
  }
  input[type='text'].long{
  width:100%;
  }
  label {
  --xcolor:#444;
  font-weight: bold;
  --xtext-shadow: #aaa 2px 2px;
  font-family:Arial;
  margin-top: 10px;
  padding:2px 0;
  display:block;
  }
  form p{
  margin:15px 0;
  }
  form{
  background:#eee;
  padding:10px 25px 10px 20px;
  --xborder:2px solid #666;
  --xwidth:700px;
  }


