
body{
font-family: Verdana, Arial, sans-serif;
font-size:72%;
margin:0;
padding:0;
}
:focus{ outline:0; }

#wrap{
padding:60px 50px 60px 60px;
min-width:700px;
}
#masthead{
margin-bottom:10px;
display:none;

}
#main{
width:66%;
padding:0 1.4% 0 0;
float:left;
border-right:1px dotted #ccc;
margin-bottom:15px;
}
#sbar{
padding:0 0 2% 1.2%;
width:31%;
float:left;
}
#footer{
clear:both;
margin-bottom:60px;
border-top:1px dotted #ccc;
}
#footer h4{
text-align:right;
margin-top:8px;
color:#000;
font-weight:300;
}
#footer a{
color:#999;
}
/*-----------------------------------
helpers
-----------------------------------*/

.clear{clear:both}
.left{float:left}
.right{float:right}

/*-----------------------------------
Default Typography
-----------------------------------*/

a{
color:#24F;
font-weight:bold;
}

h1, h2, h3, h4, h5, h6{ font-family:Arial, sans-serif; }

h1{ 
font-size:3.8em;
letter-spacing:-.06em;
}

h2{
margin-top:28px;
margin-bottom:-.06em;
font-size:1.6em;
}

h3{
margin-top:25px;
margin-bottom:-.08em;
}

h1.domain, h1.domain a{
letter-spacing:-.06em;
margin:0;
padding:0;
padding-left:4px;
padding-top:4px;
line-height:1em;
color:#777;
font-size:3.8em;
text-decoration:none;
}

h1.brand{
margin:0;
padding:0;
border-bottom:1px dotted #ccc;
}

h1.brand a{
letter-spacing:-.06em;
padding:5px 0 10px 0;
line-height:1em;
color:#F2096B;
font-size:.8em;
text-decoration:none;
}

/*-----------------------------------
#article - show
-----------------------------------*/

/* title */

h1.title, h1.title a{
margin:0px 0px -.1em;

}
h1.title a{
--xbackground:#D4D4D4;
color:#000;
text-decoration:none;
}
h1.title a:hover{
--background:#FFA;
text-decoration:underline;
}

/* body */

.body p, .body li{
line-height:170%;
}

/*-----------------------------------
sidebar .articles
-----------------------------------*/
h3.stitle{
margin:10px 0px -.1em;
font-size:3.8em;
letter-spacing:-.06em;
}

#articles h2.title a{
font-size:.9em;
padding:0;
margin:0;
color:#000;
}
.intro p{
line-height:170%;
}

/*-----------------------------------
sidebar .articles
-----------------------------------*/

h2.created_at{
font-size:2em;
line-height:.3em;
margin:0;
color:#aaa;
margin-bottom:30px;
}

#article .body{
--border-bottom:1px dotted #ccc;
}


/*-----------------------------------
comment
-----------------------------------*/

#comments{
font-family:Verdana;
--width:500px;
}
.comment{
padding-top:3px;
margin:15px 0;
border-bottom:1px dotted #ccc;
}
div.arrows{
float:left;
height:31px;
width:13px;
} 
a.uparrow, a.downarrow, a.modedup, a.modeddown{
display:block;
width:13px;
height:14px;
}
a.uparrow{
background:transparent url(/images/arrowup.gif) 0 0 no-repeat;
}
a.downarrow{
background:transparent url(/images/arrowdown.gif) 0 0 no-repeat;
margin-top:3px;
}
a.uparrow:hover, a.modedup{
background:transparent url(/images/arrowup.gif) 0 -14px no-repeat;
}
a.downarrow:hover, a.modeddown{
background:transparent url(/images/arrowdown.gif) 0 -14px no-repeat;
margin-top:3px;
}

.comment-head{
font-size:.9em;
color:#aaa;
padding:0;
}
.comment .name{
font-weight:bold;
color:#034;
}
.comment .points{
color:#888;
}

.comment-main{
margin-left:19px;
padding:0;
}
.comment p{
padding:2px 0;
margin:2px 0;
}

