<% unless @articles.empty? %>
  <h1 class="brand"><a href="/articles.atom">Subscribe</a></h1>
  <div id="article_list">
    <h3>Articles...</h3>
    <ul>
    <% for article in @articles %>
      <li><%= link_to article.title, "/articles/#{article.to_param}" %></li>
    <% end %>
    </ul>
  </div>
<% end %>